@model IEnumerable<api.Models.User>

@{
    ViewData["Title"] = "View";
}

<h1>Users</h1>
<p>
    <a asp-action="Create" class="btn btn-info">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DevicePin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enabled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DevicePin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enabled)
            </td>
            <td>
                    @Html.ActionLink("Details", "Details", new { idUser = item.IDUser }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Edit", "Edit", new { idUser = item.IDUser }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Delete", "Delete", new { idUser = item.IDUser }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
