@model api.Models.Device

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Device</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDDevice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDDevice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceTypeID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceTypeID)
        </dd>

       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeviceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MacAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MacAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApiId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApiId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApiKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApiKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicePoint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicePoint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceTypeServiceID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeviceTypeServiceID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicePublicKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicePublicKey)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceSensorEnabled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceSensorEnabled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceControllerEnabled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceControllerEnabled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SleepSeconds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SleepSeconds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SleepDeepEnabled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SleepDeepEnabled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatteryEnabled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatteryEnabled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Debug)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Debug)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Enabled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConfigVersion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConfigVersion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateModified)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { idDevice = Model.IDDevice }, new { @class = "btn btn-primary" }) 
    @Html.ActionLink("Sensor config", "EditSensor", new { idDevice = Model.IDDevice }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Controller config", "EditController", new { idDevice = Model.IDDevice }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Delete", "Delete", new { idDevice = Model.IDDevice }, new { @class = "btn btn-danger" }) 
    <a asp-action="Index">Back to List</a>
</div>
